:root{
		--width: 90vw;
		--block-width: 1rem;
		--gap: calc((var(--width) - (var(--blocks) * var(--block-width)))/ var(--blocks));
		--size: calc(var(--gap) + var(--block-width));
}

@font-face{
	font-family: "dingdong";
	src: url("./fonts/DINdong.otf");
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	background-color: rgba(255,255,120,.1);
}

a {
	all: unset;
	cursor: pointer;
}

.title-container {
	margin: auto;
  width: var(--width);
	padding: 1rem 0;
	height: 60vh;
}

.title-container h1 {
	font-size: 8rem;
	font-family: "dingdong";
}

.websites-container{
	margin:auto;
	width: var(--width);
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.project {
	padding: 1em 0;
	margin: 1rem 0;
  display: grid;
  height: 30vh;
  overflow: visible;
	position: relative;
  transition: all 250ms;
}

.button {
	opacity: 0;
}

.project h1 {
	opacity: .4;
}
.project p {
	max-width: calc(var(--size) * var(--blocks) / 2);
  line-height: 1.2em;
  margin-top: .5em;
  font-weight: 600;
}

.project > .metadata {
		border-right: 1px solid #0002;
}

.project:hover{
	cursor: pointer;
	background-color: rgba(127,0,255,.7);
	box-shadow: 0 0 15px 25px rgba(127,0,255,.7);
	color: white;
}

.options {
	position: absolute;
	z-index: 99;
	width: 100%;
	height: 100%;
	display: grid;
	/*background-color: pink;*/
	grid-template-columns: repeat(var(--blocks), 1fr);
	/*grid-gap: calc((var(--width) - (var(--blocks) * var(--block-width)))/4);*/
}

.button {
		width: 100%;
		height: 100%;
		border: 1px solid #eee2;
		/*border: 1px solid black*/;
}

.hidden {
	width: 100%;
	opacity: 0;
	pointer-events: none;
  transition: all 300ms ease-out;
}
